h3 {
	font-size: 15px;
	text-align: left;
	padding-left: 15px;
}

.left-field {
	margin-top: 5px;
	padding-bottom: 100px;
	margin-right: 5px;
}

.right-field {
	margin-top: 5px;
}


#button-view {
	margin-bottom: 20px;
}

#gifs-here {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.floatLeft {
	float: left;
	margin:5px;
}

